language: node_js

services:
  - docker

node_js:
  - 12
  - 10.13

# Trigger a push build on release and greenkeeper branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - next
    - beta
    - /^\d+\.(\d+|x)(\.x)?$/
    - /^greenkeeper.*$/

# Retry install on fail to avoid failing a build on network/disk/external errors
install:
  - travis_retry npm install

script:
  - npm run test

after_success:
  - npm run codecov

jobs:
  include:
    - stage: release
      node_js: lts/*
      script:
        - npm run semantic-release
